<h2>This blog: </h2>
<h3>Title:
  <%= @blog.title %>
</h3>
<br>
<p>Content: </p>
<%= @blog.content %>
<br>
<br>
<%= link_to 'Delete this blog', delete_path(@blog), method: :delete, data: {confirm: 'Are you sure?'} %>
<br>
<br>
<%= link_to 'Return to list', main_path %>
